<% if @removed_content.persisted? %>
  $(".wall ul.holder > li#photo-<%= @removed_content.content_id %>").fadeOut("fast", function(){
    $(this).remove();
  });
<% else %>
  alert("<%= j @removed_content.errors.full_messages.join(", ") %>")
<% end %>
