<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 clearfix">
        <h1><%= @wall.persisted? ? "##{@wall.hashtag}" : "Instagger Wall" %></h1>
        <div class="btn-group pull-right">
          <%= link_to icon_tag("glyphicon-home"), root_path, class: "btn btn-sm" %>
        </btn>
      </div>
    </div>
  </div>
</header>