<div class="container home">
  <div class="row">
    <div class="col-sm-12">
      <h1>Instagger Wall</h1>
      <p class="help-block">Create a photo wall with your friends using Instagram.</p>
      <p><%= link_to "Login with Instagram", "/auth/instagram", class: "btn btn-lg" %></p>
    </div>
  </div>
</div>
<div class="container home-footer">
  <div class="row">
    <div class="col-sm-12">
      <%= link_to "About", "#about", class: "about" %>
      <%= link_to "Want a Instagram blog?", "http://www.instagger.com", class: "instagger-blog" %>
      <%= link_to "Privacy Policy", "#privacy-policy", class: "privacy-policy" %>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-privacy-policy" tabindex="-1" role="dialog" aria-labelledby="privacy-policy" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="privacy-policy">Privacy policy</h4>
      </div>
      <div class="modal-body">
        <p>Instagger Wall will only collect your personal information when you voluntarily sign-up for a membership account. Information collected from you will never be sold, rented, or shared with third-parties.</p>
        <p>The website utilizes "cookies". A "cookie" is a small text file that permits us to recognize your browser in order to customize your experience, or permit you to access restricted areas. Cookies do not contain personal information.</p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-about" tabindex="-1" role="dialog" aria-labelledby="about" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="about">About</h4>
      </div>
      <div class="modal-body">
        <p>With Instagger Wall you can invite your friends to take pictures with you using Instagram and
          create a photo wall. You can easily remove photos that you don't want from your photo wall.</p>
      </div>
    </div>
  </div>
</div>