<%= render "shared/header" %>
<div class="container create-wall">
  <div class="row">
    <div class="col-sm-12">
      <h1>Create your photo wall</h1>
      <%= form_for @wall, html: { data: {remote: true}} do |f| %>
        <%= f.text_field :hashtag, class: "form-control input-lg", placeholder: "#weddingjohnandlara, #party20131201ellen" %>
      <% end %>
      <p class="help-block">When you create a photo wall with a tag, all Instagram media that have this tag will
        appear in your wall. Remember to use not common terms if you want your wall only
        with your and friend's photos and videos.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ul class="user-walls">
        <% @walls.each do |user_wall| %>
          <% if user_wall.url %>
            <li><%= link_to "##{user_wall.hashtag}", wall_path(user_wall.url) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>