<%= render "shared/header" %>
<div class="container">
  <div class="row">
    <section class="wall">
      <div class="empty-wall">
        <p class="reload"><%= link_to icon_tag("glyphicon-refresh"), wall_path(@wall.url), class: "btn" %></p>
        <h2>Invite your friends or take a picture!</h2>
        <p>Ask your friends to take pictures and include de hashtag <strong>#<%= @wall.hashtag %></strong>.</p>
      </div>
      <ul class="holder clearfix">
      </ul>
    </section>
  </div>
</div>
<%= hidden_field_tag :wall_id, @wall.id %>
<%= hidden_field_tag :tag, @wall.hashtag %>
<%= hidden_field_tag :token, @wall.user.instagram_token %>
<%= hidden_field_tag :removed_content, @wall.removed_contents.collect { |r| r.content_id }.join(",") %>