.home {
  text-align: center;
  margin-top: 60px;
  h1 {
    font-family: 'Leckerli One', cursive;
    color: #3e6c92;
    text-shadow: 0 1px 0 #fff;
  }
  .help-block {
    font-size: 16px;
    color: #aaa;
    line-height: 1.45;
  }
  .btn {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 2px rgba(255, 255, 255, 0.2);
    border: 1px solid #194264;
    color: #fff;
    background: rgb(67,113,150); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(67,113,150,1) 0%, rgba(52,99,138,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(67,113,150,1)), color-stop(100%,rgba(52,99,138,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(67,113,150,1) 0%,rgba(52,99,138,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(67,113,150,1) 0%,rgba(52,99,138,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(67,113,150,1) 0%,rgba(52,99,138,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(67,113,150,1) 0%,rgba(52,99,138,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#437196', endColorstr='#34638a',GradientType=0 ); /* IE6-9 */
    &:hover {
      text-decoration: underline;
      color: #fff;
      background: #34638a;
    }
  }
}

.home-footer {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  a {
    color: #666;
    margin: 0 10px;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}

@media (max-width: 768px) {
  .home-footer {
    .instagger-blog {
      display: none;
    }
  }
}