html, body {
  
}
body {
  background: url(/assets/background.png) #edeeef;
  overflow-x: hidden !important;
}

.create-wall {
  position: relative;
  max-width: 600px;
  height: 220px;
  margin-top: 60px;
  text-align: center;
  h1 {
    text-align: center;
    font-family: 'Leckerli One', cursive;
    color: #3e6c92;
    text-shadow: 0 1px 0 #fff;
  }
  .form-control {
    box-shadow: none;
    border-color: #ddd;
    width: 80%;
    margin: 0 auto;
  }
  .help-block {
    color: #bbb;
    font-size: 16px;
    line-height: 1.45;
    text-shadow: 0 1px 0 #fff;
    margin-top: 20px;
  }
  .user-walls {
    margin: 20px 0 0 ;
    padding: 0;
    li {
      display: block;
    }
  }
}

header {
  color: #fff;
  text-align: center;
  background: #3e6c92;
  padding: 6px 0 9px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.7), inset 0 -1px 1px rgba(255, 255, 255, 0.2);
  h1 {
    margin: 0;
    display: block;
    float: left;
    font-family: 'Leckerli One', cursive;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 26px;
  }
  .btn {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 2px rgba(255, 255, 255, 0.2);
    border: 1px solid #194264;
    color: #fff;
    background: rgb(67,113,150); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(67,113,150,1) 0%, rgba(52,99,138,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(67,113,150,1)), color-stop(100%,rgba(52,99,138,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(67,113,150,1) 0%,rgba(52,99,138,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(67,113,150,1) 0%,rgba(52,99,138,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(67,113,150,1) 0%,rgba(52,99,138,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(67,113,150,1) 0%,rgba(52,99,138,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#437196', endColorstr='#34638a',GradientType=0 ); /* IE6-9 */
    &:hover {
      text-decoration: underline;
      color: #fff;
      background: #34638a;
    }
  }
}

section.wall {
  
  margin-bottom: 40px;
  
  ul.holder {
    margin: 0;
    padding: 0;
    margin: 40px auto;
    li {
      display: block;
      height: auto;
      float: left;
      margin-bottom: 3px;
      opacity: 0;
      
      &.display {
        opacity: 1;
      }
      .photo {
        width: 100%;
        height: auto;
        background: #fff;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        img {
          width: 100%;
          //min-height: 290px;
          padding: 8px;          
        }
        .information {
          display: block;
          padding: 0 8px 8px;
          .author {
            display: block;
            float: left;
            color: #333;
            font-family: 'Loved by the King', cursive;
            font-size: 16px;
            width: 50%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .links {
            display: block;
            float: right;
            a {
              margin-left: 4px;
              color: #999;
              &.text-danger {
                color: red;
              }
            }
          }
        }
      }
    }
  }
  
  .empty-wall {
    text-align: center;
    margin: 0 20px;
    h2 {
      font-family: 'Leckerli One', cursive;
      color: #666;
    }
    p {
      font-size: 16px;
      color: #aaa;
      line-height: 1.45;
      
    }
    .reload {
      display: none;
      margin-top: 30px;
      a {
        font-size: 40px;
        color: #bbb;
        &:hover {
          color: #666;
        }
      }
    }
  }
  
  .load-more {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    color: #666;
    background: #fff;
    &:hover {
      color: #333;
    }
    &.loading {
      background: url(/assets/loading.gif) #fff no-repeat center center;
      text-indent: -9999px;
    }
  }
  
}

@media (max-width: 768px) {
  header {
    h1 {
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}