<!DOCTYPE html>
<html>
  <head>
    <title><%= @pagetitle || 'Instagger Wall' %></title>
    <meta content="<%= @pagedescription || 'With Instagger Wall you can invite your friends to take pictures with you using Instagram and create a photo wall. You can easily remove photos that you don\'t want from your photo wall.' %>" name="description" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-46109774-2', 'instagger.com');
      ga('send', 'pageview');
    </script>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
